*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }

header {
    text-align: center;
    font-size:40px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color:#ffffff;
    text-align: center;
    border: 1px white solid;
    background-color: #002A62;
    padding: 10px;
  }

  h1,
  .scoreboard {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    padding: 7px;
    margin: 3px;
  }

  #startsubheader {
  margin-left: 8%;
  margin-right: 8%;
  }
  
  
  .feedbacktext {
    text-align: center;
    font-size: 18px;
  }


  h2,
  .responseDisp,
  .quizpage,
  .questiontext {
    padding-top: 10px;
    align-items: center;
    font-size: 17px;
    color: #000000;
    max-width: 47%;
    margin: auto;
    } 
    
    body {
    font-family: 'Merriweather', serif;
    color: #000000;
    background-color: ece7e7;
  }
  
  .startScreen,
  .finalScreen,
  .finalpgDisp {
    align-items: center;
    padding:10px;
  }
  
  .images {
    display:block;
    margin: 15px auto;
    width: 25%;
    border: 0.1em solid #808080;
  }
 

  button#start,
  button#submit,
  button#retake {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    border: 1px  solid #002A62;
    background-color:  #002A62;
    color: #ffffff;
    padding: 4px 15px 4px 15px;
  }

  button#next,
  button#retake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    border: 1px solid #000000;
    background-color:  #ffa700;
    color: #000000;
    padding: 4px 15px 4px 15px;
  }

  .responserightbox {
   margin:auto;
   text-align: center;
   font-size: 22px;
   max-width: 150px;
   background:#ffffff;
   padding: 10px;
   border:2px solid #002A62;
   }  


  .responsewrongbox {
    margin:auto;
    font-size: 18px;
    max-width: 75%; 
    background:ivory;
    padding: 10px;
    border:2px solid #fe0000;
    }  



    #finalscore {
    margin:auto;
    text-align: center;
    font-size: 22px;
    max-width: 50%; 
    padding: 10px;
    
    } 

  .questionDisp,
  .questiondisplayarea
 {
    display: flex;
    align-items: center;
    align-content: center;  
    margin-top:10px;
    margin-left: 10%;
    margin-right: 2%;
    height: auto;
    font-size: 20px;
    padding: 5px;
  }

  .radio {
    display: flex;
    align-items: center;
    align-content: center;  
    margin-top:10px;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
  }



  .hide {
  display: none;
  }

@media (max-width: 400px) {
  header {
    font-size:25px;
    padding: 8px;
    }
  
  h1,
  .scoreboard{
      font-size: 18px;
      padding: 4px;
      margin: 3px;
    }

  #startsubheader,
  .feedbacktext{
      font-size: 15px;
      }

  #finalscore{
    font-size: 17px;
    }


 .responserightbox{
      max-width: 50%; 
       }  
    

    .images {
      width: 75%;
    }

    .questionDisp,
    .questiondisplayarea,
    .radio {
      display: flex;
      align-items: center;  
      margin-top:10px;
      margin-left: 5%;
      margin-right: 10px;
      height: auto;
      cursor: pointer;
      font-size: 14px;
      padding: 3px;
    }

    }

@media (min-width: 1068px) {
  .questiondisplayarea,
  .radio {
    margin-left: 10%;
    margin-right: 5%;
  }
  .questionDisp,
  .questiondisplayarea {
    margin-left: 19%;
    margin-right: 5%;
    }
 

}